# Build artifacts
*.egg-info/
build/
dist/
.pybuild/
*.pyc
__pycache__/

# Debian build artifacts
debian/files
debian/.debhelper/
debian/zenpad/
debian/*.debhelper
debian/*.debhelper.log
debian/*.substvars

# IDE
.vscode/
.idea/
*.swp
*.swo

# Local config
*.local
