Package: zenpad
Version: 1.4.0
Architecture: all
Maintainer: Jagadish Tripathy <jagadishtripathyforyou@gmail.com>
Installed-Size: 219
Depends: python3-gi, python3:any (>= 3.6~), gir1.2-gtk-3.0, gir1.2-gtksource-4 | gir1.2-gtksource-3.0, gir1.2-webkit2-4.1 | gir1.2-webkit2-4.0, python3-markdown
Section: editors
Priority: optional
Description: Lightweight text editor based on GTK+
 Zenpad is a modern, lightweight text editor designed for efficiency and aesthetics.
 It features syntax highlighting, tabs, and more.
